p {
  line-height: 1.5;
}

.services-slider .owl-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-slider .owl-nav button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  background-color: #215aa7 !important;
  border-radius: 50%;
}

.services-slider .owl-nav button span {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
}

.services-slider .owl-nav .owl-prev span {
  background-image: url("/assets/images/arrow-left.svg");
}

.services-slider .owl-nav .owl-next {
  margin-right: 0;
}

.services-slider .owl-nav .owl-next span {
  background-image: url("/assets/images/arrow-right.svg");
}

.works-slider .owl-nav {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.works-slider .owl-nav button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  background-color: #215aa7 !important;
  border-radius: 50%;
}

.works-slider .owl-nav button span {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
}

.works-slider .owl-nav .owl-prev span {
  background-image: url("/assets/images/arrow-left.svg");
}

.works-slider .owl-nav .owl-next {
  margin-right: 0;
}

.works-slider .owl-nav .owl-next span {
  background-image: url("/assets/images/arrow-right.svg");
}

.services {
  margin-top: 100px;
  margin-bottom: 50px;
}

.services-item {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  transition: all .2s linear;
}

.services-wrap {
  width: 219px;
  padding: 23px 25px 29px;
  border: 1px solid rgba(66, 138, 235, 0.5);
  box-shadow: 0px 4px 11px rgba(66, 138, 235, 0.1);
  border-radius: 20px;
}

.services-suptitle {
  margin-bottom: 50px;
}

.services-img {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.services-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services-title {
  margin-top: 15px;
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: 500;
  color: #215aa7;
}

.services-title::first-letter {
  text-transform: capitalize;
}

.services-text {
  font-size: 11px;
  font-weight: 400;
  color: #bfbfbf;
  line-height: 1.5;
}

.services-btn {
  margin-top: 25px;
  display: block;
  height: auto;
  padding: 6px 24px;
  font-size: inherit;
  color: #fff;
  background-color: #428aeb;
  border-radius: 5px;
  transition: all .2s linear;
}

.services-btn::first-letter {
  text-transform: capitalize;
}

.benefits {
  margin-bottom: 100px;
}

.benefits-title {
  margin-bottom: 32px;
}

.benefits-text {
  width: 70%;
  margin-bottom: 78px;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  color: #555555;
  line-height: 2.3;
}

.benefits-row {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.benefits-item-wrap {
  padding: 20px 18px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(66, 138, 235, 0.5);
  -webkit-filter: drop-shadow(0px 4px 11px rgba(66, 138, 235, 0.1));
          filter: drop-shadow(0px 4px 11px rgba(66, 138, 235, 0.1));
  border-radius: 20px;
}

.benefits-item-icon {
  width: 63px;
  height: 63px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(66, 138, 235, 0.08);
}

.benefits-item-title {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.benefits-item-text {
  font-size: 11px;
  font-weight: 300;
  color: #555555;
}

.about {
  margin-bottom: 100px;
}

.about-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.about-left,
.about-right {
  width: 50%;
}

.about-left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.about-left div {
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.about-left div:last-child {
  margin-top: 50px;
}

.about-left div img {
  display: block;
}

.about-img-1-wrap {
  position: relative;
  -webkit-animation: walkingManLess 4s linear infinite;
          animation: walkingManLess 4s linear infinite;
}

.about-img-2-wrap {
  position: relative;
  -webkit-animation: walkingManLess 4s linear infinite;
          animation: walkingManLess 4s linear infinite;
}

.about-title {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 500;
  color: #235caa;
}

.about-subtitle {
  position: relative;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 400;
  color: #235caa;
}

.about-subtitle::before {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  height: 100%;
  width: 2px;
  border-radius: 10px;
  background-color: #e78934;
}

.about-text {
  width: 80%;
  margin-bottom: 40px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: #565656;
}

.about-btn {
  padding: 13px 67px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  background: #428aeb;
  box-shadow: 0px 4px 4px rgba(33, 90, 167, 0.1);
  border-radius: 10px;
}

.about-btn img {
  margin-top: 1px;
  margin-left: 10px;
}

.works {
  margin-bottom: 100px;
}

.works-slider {
  position: relative;
}

.works-slider::after,
.works-slider::before {
  z-index: 99;
  content: '';
  width: 160px;
  height: 100%;
  position: absolute;
  top: 0;
}

.works-slider::after {
  left: 0;
  background: linear-gradient(90deg, #fff 23.66%, rgba(255, 255, 255, 0) 100%);
}

.works-slider::before {
  right: 0;
  background: linear-gradient(-90deg, #fff 23.66%, rgba(255, 255, 255, 0) 100%);
}

.works-title {
  margin-bottom: 50px;
}

.works-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.works-item-wrap {
  width: 248px;
  padding: 19px 11px 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.3);
  border: 0.9px solid rgba(66, 138, 235, 0.5);
  box-shadow: 0px 3px 10px rgba(66, 138, 235, 0.1);
  border-radius: 18px;
}

.works-item-img {
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
  border-radius: 10px;
}

.works-item-text {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #7e7e7e;
}

.works-item-text::first-letter {
  text-transform: capitalize;
}

.works-item-left,
.works-item-right {
  width: 99px;
  margin-right: 11px;
}

.works-item-left:last-child,
.works-item-right:last-child {
  margin-right: 0;
}

.works-item-right .works-item-text {
  color: #235caa;
}

.faq {
  margin-bottom: 100px;
}

.faq-title {
  margin-bottom: 54px;
}

.faq-row {
  display: flex;
  align-items: flex-start;
}

.faq-left {
  width: 50%;
  margin-right: 80px;
}

.faq-right {
  width: 50%;
}

.faq-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 35px;
  width: 100%;
}

.faq-num {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border-radius: 50%;
  background-color: #e78934;
}

.faq-num span {
  margin-top: 3px;
}

.faq-block {
  width: 80%;
}

.faq-block-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 13px 12px 24px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  background-color: #215aa7;
  border-radius: 5px;
}

.faq-block-top h4 {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

.faq-block-content {
  transition: all .2s linear;
  padding: 14px 20px 40px 17px;
  font-size: 11px;
  background: #ecf4ff;
  border-radius: 5px;
  height: 0;
  font-size: 0;
  background: none;
  padding: 0;
}

.faq-block-content p {
  line-height: 1.5;
  font-weight: 400;
  color: #676767;
}

.faq-show {
  height: auto;
  background: #ecf4ff;
  padding: 14px 20px 40px 17px;
  font-size: 11px;
}

.calc {
  margin-bottom: 100px;
}

.calc-title {
  margin-bottom: 50px;
}

.calc-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 50px;
}

.calc-block-top {
  margin-bottom: 10px;
}

.calc-block-title {
  font-size: 14px;
  font-weight: 400;
  color: #565656;
}

.calc-block-low {
  position: relative;
  width: 284px;
  height: 49px;
}

.calc-input {
  width: 100%;
  height: 100%;
  padding-left: 17px;
  font-size: 16px;
  font-weight: 400;
  color: #565656;
  border: 1px solid rgba(34, 90, 168, 0.2);
  border-radius: 10px;
}

.calc-input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #cecece;
}

.calc-input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #cecece;
}

.calc-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #cecece;
}

.calc-select {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 17px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #565656;
  border: 1px solid rgba(34, 90, 168, 0.2);
  border-radius: 10px;
}

.calc-pos-span {
  position: absolute;
  top: 13px;
  right: 17px;
  font-size: 18px;
  font-weight: 500;
  color: #215aa7;
}

.calc-pos-arrow {
  position: absolute;
  top: 13px;
  right: 17px;
  cursor: pointer;
}

.calc-sum-box {
  margin-top: 10px;
}

.calc-btn {
  margin-top: 50px;
  padding: 15px 63px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: #428aeb;
  box-shadow: 0px 4px 4px rgba(33, 90, 167, 0.1);
  border-radius: 10px;
}

.contact {
  margin-bottom: 100px;
}

.contact-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-left,
.contact-right {
  width: 50%;
  flex-shrink: 0;
}

.contact-left {
  display: flex;
  justify-content: flex-start;
}

.contact-right {
  display: flex;
  justify-content: center;
}

.form {
  max-width: 380px;
  padding: 45px 69px 34px;
  font-family: sf !important;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(66, 138, 235, 0.5);
  box-shadow: 0px 4px 11px rgba(66, 138, 235, 0.1);
  border-radius: 20px;
}

.form-block {
  display: flex;
  flex-direction: column;
}

.form-suptitle {
  margin-bottom: 10px;
  font-size: 11px;
  line-height: 1.5;
  font-weight: 300;
  color: #949494;
  font-family: sf !important;
}

.form-subtitle {
  margin-bottom: 36px;
  font-size: 22px;
  font-weight: 600;
  color: #215aa7;
  font-family: sf !important;
}

.form-input {
  width: 240px;
  height: 40px;
  padding-left: 17px;
  margin-bottom: 9px;
  border: 1px solid rgba(34, 90, 168, 0.2);
  border-radius: 10px;
}

.form textarea {
  margin-bottom: 27px;
  width: 240px;
  min-height: 80px;
  max-height: 150px;
  padding-top: 13px;
  padding-left: 17px;
  resize: vertical;
  border: 1px solid rgba(34, 90, 168, 0.2);
  border-radius: 10px;
}

.form-submit {
  width: 240px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: #428aeb;
  box-shadow: 0px 4px 4px rgba(33, 90, 167, 0.1);
  border-radius: 10px;
}

.form-submit::first-letter {
  text-transform: capitalize;
}

.footer-wrap {
  padding: 50px 53px 50px 80px;
  margin-bottom: 80px;
  border: 1px solid #215aa7;
  border-radius: 50px;
}

.footer-top,
.footer-low {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.footer-right,
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.footer-center {
  width: 40%;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-top {
  margin-bottom: 50px;
}

.footer-nav {
  display: flex;
  align-items: flex-start;
}

.footer-nav-list {
  margin-right: 50px;
}

.footer-nav-list:last-child {
  margin-right: 0;
}

.footer-nav-item {
  margin-bottom: 12px;
}

.footer-nav-item:last-child {
  margin-bottom: 0;
}

.footer-nav-item a {
  font-size: 14px;
  font-weight: 400;
  color: #215aa7;
}

.footer-form {
  height: 100%;
}

.footer-form-title {
  margin-bottom: 35px;
  font-size: 14px;
  font-weight: 500;
  color: #215aa7;
}

.footer-form-submit {
  width: 15px;
  height: 15px;
  cursor: pointer;
  font-size: 0;
  background-image: url("/assets/images/arrow-fly.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer-form-input {
  padding: 0 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #215aa7;
}

.footer-form-input img {
  cursor: pointer;
}

.footer-form-input input::-webkit-input-placeholder {
  font-size: 10px;
  font-weight: 300;
  color: rgba(49, 93, 133, 0.5);
}

.footer-form-input input:-ms-input-placeholder {
  font-size: 10px;
  font-weight: 300;
  color: rgba(49, 93, 133, 0.5);
}

.footer-form-input input::placeholder {
  font-size: 10px;
  font-weight: 300;
  color: rgba(49, 93, 133, 0.5);
}

.footer-center-wrap {
  display: flex;
}

.footer-info li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #215aa7;
}

.footer-info-left {
  text-align: left;
}

.footer-info-right {
  margin-left: 50px;
  text-align: left;
}

.footer-copyright {
  font-size: 12px;
  font-weight: 400;
  color: #1e2833;
  line-height: 1.5;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-social a {
  width: 28px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  border: 1px solid #215aa7;
  border-radius: 10px;
}

.footer-social a img {
  display: block;
}

.footer-social a:last-child {
  margin-right: 0;
}

.footer-social a:last-child img {
  margin: 0 0 2px 2px;
}

.footer-base {
  padding: 33px 0;
  font-size: 14px;
  font-weight: 400;
  color: #838383;
  background-color: #e7f1ff;
}

.footer-base .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-base span {
  display: flex;
  align-items: center;
}

.footer-base span a {
  margin-left: 20px;
}

.modal {
  width: 450px;
  height: 400px;
  min-width: 250px;
  min-height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translate(-500%, -50%);
          transform: translate(-500%, -50%);
  transition: all .4s linear;
}

.modal-wrap {
  position: relative;
  padding: 50px 80px;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fff;
  border: 1px solid rgba(66, 138, 235, 0.5);
  -webkit-filter: drop-shadow(0px 4px 11px rgba(66, 138, 235, 0.1));
          filter: drop-shadow(0px 4px 11px rgba(66, 138, 235, 0.1));
  border-radius: 20px;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: all .2s linear;
}

.modal-close:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.modal-top {
  margin-bottom: 50px;
}

.modal-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  color: #215aa7;
}

.modal-title::first-letter {
  text-transform: capitalize;
}

.modal-text {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  color: #000;
}

.modal-hero-input {
  padding-left: 17px;
  margin-bottom: 20px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(34, 90, 168, 0.2);
  border-radius: 10px;
}

.modal-hero-submit {
  height: 40px;
  width: 100%;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid rgba(34, 90, 168, 0.2);
  border-radius: 10px;
  background-color: #235caa;
}

.modal {
  width: 450px;
  height: 400px;
  min-width: 250px;
  min-height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translate(-500%, -50%);
          transform: translate(-500%, -50%);
  transition: all .4s linear;
}

.modal-wrap {
  position: relative;
  padding: 50px 80px;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fff;
  border: 1px solid rgba(66, 138, 235, 0.5);
  -webkit-filter: drop-shadow(0px 4px 11px rgba(66, 138, 235, 0.1));
          filter: drop-shadow(0px 4px 11px rgba(66, 138, 235, 0.1));
  border-radius: 20px;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: all .2s linear;
}

.modal-close:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.modal-top {
  margin-bottom: 50px;
}

.modal-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  color: #215aa7;
}

.modal-title::first-letter {
  text-transform: capitalize;
}

.modal-text {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  color: #000;
}

.modal-hero-input {
  padding-left: 17px;
  margin-bottom: 20px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(34, 90, 168, 0.2);
  border-radius: 10px;
}

.modal-hero-submit {
  height: 40px;
  width: 100%;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid rgba(34, 90, 168, 0.2);
  border-radius: 10px;
  background-color: #235caa;
}

.modal {
  width: 450px;
  height: 400px;
  min-width: 250px;
  min-height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translate(-500%, -50%);
          transform: translate(-500%, -50%);
  transition: all .4s linear;
}

.modal-wrap {
  position: relative;
  padding: 50px 80px;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fff;
  border: 1px solid rgba(66, 138, 235, 0.5);
  -webkit-filter: drop-shadow(0px 4px 11px rgba(66, 138, 235, 0.1));
          filter: drop-shadow(0px 4px 11px rgba(66, 138, 235, 0.1));
  border-radius: 20px;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: all .2s linear;
}

.modal-close:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.modal-top {
  margin-bottom: 50px;
}

.modal-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  color: #215aa7;
}

.modal-title::first-letter {
  text-transform: capitalize;
}

.modal-text {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  color: #000;
}

.modal-hero-input {
  padding-left: 17px;
  margin-bottom: 20px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(34, 90, 168, 0.2);
  border-radius: 10px;
}

.modal-hero-submit {
  height: 40px;
  width: 100%;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid rgba(34, 90, 168, 0.2);
  border-radius: 10px;
  background-color: #235caa;
}

.modal {
  width: 450px;
  height: 400px;
  min-width: 250px;
  min-height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translate(-500%, -50%);
          transform: translate(-500%, -50%);
  transition: all .4s linear;
}

.modal-wrap {
  position: relative;
  padding: 50px 80px;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fff;
  border: 1px solid rgba(66, 138, 235, 0.5);
  -webkit-filter: drop-shadow(0px 4px 11px rgba(66, 138, 235, 0.1));
          filter: drop-shadow(0px 4px 11px rgba(66, 138, 235, 0.1));
  border-radius: 20px;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: all .2s linear;
}

.modal-close:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.modal-top {
  margin-bottom: 50px;
}

.modal-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  color: #215aa7;
}

.modal-title::first-letter {
  text-transform: capitalize;
}

.modal-text {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  color: #000;
}

.modal-hero-input {
  padding-left: 17px;
  margin-bottom: 20px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(34, 90, 168, 0.2);
  border-radius: 10px;
}

.modal-hero-submit {
  height: 40px;
  width: 100%;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid rgba(34, 90, 168, 0.2);
  border-radius: 10px;
  background-color: #235caa;
}

@media (max-width: 1024px) {
  .contact-left {
    justify-content: center;
  }
}

@media (max-width: 930px) {
  .burger {
    display: block;
  }

  .header-wrap {
    height: 70px;
  }

  .header-center {
    display: none;
  }

  .header-fake {
    width: 30%;
    z-index: 99;
    display: block !important;
  }

  .header-left,
  .header-right {
    width: 30%;
  }

  .header-left {
    justify-content: center;
    display: flex;
  }

  .header-right {
    justify-content: flex-end;
  }

  .header-tel {
    padding: 10px 12px;
    border-radius: 50%;
  }

  .header-tel::after {
    border-radius: 50%;
  }

  .header-tel img {
    margin-right: 0;
  }

  .header-tel span {
    display: none;
  }

  .header-lang {
    display: none;
  }

  .hero {
    margin-top: 30px;
  }

  .hero-wrap {
    display: block;
  }

  .hero-left {
    padding-top: 0;
    width: 100%;
    margin-bottom: 50px;
  }

  .hero-right {
    width: 100%;
  }

  .hero-title {
    display: inline;
    font-size: 36px;
  }

  .hero-img-main {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  .hero-block-1 {
    top: 0;
    right: 0;
  }

  .hero-block-2 {
    left: 0;
    bottom: 25px;
  }

  .hero-block-3 {
    right: 40px;
    bottom: -40px;
  }

  .hero-bubbles-2 {
    bottom: 40px;
  }

  .hero-list {
    margin: 20px 0 30px;
  }

  .hero-item {
    margin-right: 20px;
  }

  .services-suptitle {
    margin-bottom: 30px;
  }

  .benefits-text {
    width: 100%;
    margin-bottom: 40px;
  }

  .benefits-row {
    flex-wrap: wrap;
  }

  .benefits-item {
    width: 100%;
    margin-bottom: 30px;
  }

  .benefits-item-wrap {
    width: 100%;
    margin: 0 auto;
  }

  .about {
    margin-bottom: 80px;
  }

  .about-row {
    display: block;
  }

  .about-left,
  .about-right {
    width: 100%;
    margin: 0;
  }

  .about-right {
    margin-top: 30px;
  }

  .about-title {
    margin-bottom: 20px;
    font-size: 36px;
  }

  .about-subtitle {
    margin-bottom: 20px;
  }

  .about-text {
    width: 100%;
    line-height: 1.5;
  }

  .works {
    margin-bottom: 50px;
  }

  .works-title {
    margin-bottom: 30px;
  }

  .faq {
    margin-bottom: 80px;
  }

  .faq-row {
    display: block;
  }

  .faq-left {
    width: 100%;
  }

  .faq-right {
    width: 100%;
  }

  .calc-title {
    margin-bottom: 30px;
  }

  .calc-row {
    display: block;
  }

  .calc-block {
    margin-top: 20px;
  }

  .contact-left {
    width: 100%;
    margin-right: 0;
  }

  .contact-right {
    display: none;
  }

  .footer-wrap {
    padding: 30px 30px 50px;
  }

  .footer-top,
  .footer-low {
    display: block;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
    align-items: flex-start;
  }

  .footer-social {
    width: 100%;
    justify-content: space-around;
  }

  .footer-social a {
    width: 40px;
    height: 40px;
  }

  .footer-social a img {
    width: 50%;
    height: 50%;
    margin: 0 !important;
  }

  .footer-nav {
    justify-content: flex-start;
  }

  .footer-base .container {
    display: block;
  }

  .footer-base .container span {
    margin-bottom: 30px;
    justify-content: center;
  }
}